
    <h1>Phone Book</h1>
      <div class="wrapper">
        <app-deletecontact></app-deletecontact>
        <button><a routerLink="/contacts/add" >Create/Update Contact</a></button>
        <div class="contact-item" *ngFor="let contact of phoneContacts">
          <div class="name">{{contact.contactName}} - {{contact.phoneNumber}} <br>
            <!-- <app-deletecontact></app-deletecontact> -->
            <!-- <button [class.selected] = "contact === selectedPhoneContacts"
              (click)="updateContact(contact)">Edit Contact</button> -->
          </div>
        </div>
      
    
      <!-- <div class="wrapper"> -->
        <!-- <app-addcontact></app-addcontact> -->
        <!-- <h2>Add Contact</h2>
        <h3>Name: <input type="text" [(ngModel)]="newContactName"></h3><br>
        <h3>Mobile Number:  <input type="text" [(ngModel)]="newPhoneNumber"></h3><br>
        <h4><button (click)="addContact()">Add Contact</button></h4> -->
      <!-- </div> -->

      <!-- <div class="wrapper" *ngIf = "selectedPhoneContacts">
        <h2>Update Contact</h2>
        <h3>Name: <input type="text" [(ngModel)]="selectedPhoneContacts.contactName"></h3><br>
        <h3>Mobile Number:  <input type="text" [(ngModel)]="selectedPhoneContacts.phoneNumber"></h3><br>
      </div> -->

